* {
  font-family: 'Poppins', sans-serif;
}
.banner{
    background-image: url(/portfolio/Murali/slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 250px;
}

.skills-padding{
  padding: 70px;
}

